<span class="title">{% if message.user %}{{ message.user.name }}{% else %}{{ message.name }}{% endif %} {% if message.user %}{{ message.user.surname }}{% else %}{{ message.surname }}{% endif %}</span>

<div {% if is_admin %}data-message_id="{{ message.guestbook_id }}" data-is_active="{{ message.is_active}}"{% endif %}>

    Оценка: {{ message.rate_name }} <br>
    {{ message.text }} <br>
    
    {% if is_admin %}
        <form>
            <input type="hidden" name="message_id" value="{{ message.guestbook_id }}">
            <input type="button" value="Отображать/скрывать" onclick="sendform(this, 'toggle_active', { {{ url_api }}, arg_func_success: this, func_success:function(res, btn) {btn.closest('div').dataset.is_active=res.data.is_active;}})">
            <input type="button" value="Удалить" onclick="sendform(this, 'delete_message', { {{ url_api }}, arg_func_success: this, func_success:function(res, btn) {btn.closest('div').parentElement.remove();}})">
        </form>
    {% endif %}
</div>